// Neutral
$neutral-0: #ffffff;
$neutral-200: #CBCDD0;
$neutral-300: #9393B7;
$neutral-600: #57577B;
$neutral-900: #21214D;

// Blue
$blue-100: #E0E6FA;
$blue-200: #A3B1F9;
$blue-600: #4865DB;
$blue-700: #2A4CD5;

// Others
$red-300: #FF9B99;
$indigo-200: #B8B1FF;
$blue-300: #89CAFF;
$green-300: #89E780;
$amber-300: #FFC97C;

// Red
$red-700: #E60013;